<!--- Formulário de login-->

<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Realize o login!</title>
		</head>
	<body>

		<h1>Realize o login!</h1>
		<br />
		<form action="login/autenticar" method="post">
			
			<label>Login:</label>
			<input type="text" id="login" name="email">&nbsp;
			<label>Senha:</label>
			<input type="password" id="senha" name="senha">&nbsp;
			<input type="submit" value="OK!" />&nbsp;
			<input type="reset" value="Cancelar"/>
		</form>
	</body>
</html>