<!--- Formulário de alteração de cadastro-->

<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Alteração de cadastro!</title>
		</head>
	<body>

		<h1>Altere o cadastro!</h1>
		<br />
		<form action="/cadastro/atualizar" method="post">
			
			<label>Novo E-mail:</label>
			<input type="text" id="NovoEmail" name="NovoEmail">&nbsp;
			<label>Nova Senha:</label>
			<input type="text" id="NovaSenha" name="NovaSenha">&nbsp;
			<input type="submit" value="OK!" />&nbsp;
			<input type="reset" value="Cancelar"/>
		</form>
	</body>
</html>