<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Login Executado</title>
		</head>
	<body>

		<h1>Login Executado</h1>

		<table>
			
			<tr>
				<td>E-mail</td>
				<td>Senha</td>
			</tr>
		</table>

	</body>
</html>